// Colors
// Primary
$color-primary-blue-marine: hsl(213, 96%, 18%);
$color-primary-blue-purple: hsl(243, 100%, 62%);
$color-primary-blue-pastel: hsl(228, 100%, 84%);
$color-primary-blue-light: hsl(206, 94%, 87%);
$color-primary-red-strawberry: hsl(354, 84%, 57%);
// Secondary
$color-neutral-gray-cool: hsl(231, 11%, 63%);
$color-neutral-gray-light: hsl(229, 24%, 87%);
$color-neutral-alabaster: hsl(217, 100%, 97%);
$color-white: hsl(0, 0%, 100%);

// Font
// Size
$font-size: 16px;
// Family
$font-family: 'Ubuntu', sans-serif;
// Weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$border-radius: 16px;
