<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="container" class="container">
      <div class="container__image">
        <div class="form__step--main--container">
          <div class="form__step--container">
            <div class="form__step form__step--active">1</div>
            <div class="form__step">2</div>
            <div class="form__step">3</div>
            <div class="form__step">4</div>
          </div>
          <div class="form__step--container form__step--container--row">
            <div class="form__step--row">
              <p class="form__step--title">STEP 1</p>
              <p class="form__step--desc">YOUR INFO</p>
            </div>

            <div class="form__step--row">
              <p class="form__step--title">STEP 2</p>
              <p class="form__step--desc">SELECT PLANS</p>
            </div>

            <div class="form__step--row">
              <p class="form__step--title">STEP 3</p>
              <p class="form__step--desc">ADD-ONS</p>
            </div>

            <div class="form__step--row">
              <p class="form__step--title">STEP 4</p>
              <p class="form__step--desc">SUMMARY</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container__content">
        <!-- Content of the Form itself -->
        <div class="form__container">
          <!-- First Form -->
          <div class="form">
            <!-- form header -->
            <div class="form__header">
              <h2 class="form__text--title">Personal Info</h2>
              <p class="form__text--subtitle">
                Please prove your name, email address, and phone number.
              </p>
            </div>

            <!-- form body -->
            <div class="form__body">
              <label for="name" class="form__input--row">
                <div class="form__input--header">
                  <span class="form__input--label">Name</span>
                  <span class="form__input--error hidden"
                    >This field is required</span
                  >
                </div>
                <input
                  class="form__input"
                  type="text"
                  name="name"
                  id="name"
                  placeholder="e.g. Stephen King"
                  required
                />
              </label>

              <label for="email" class="form__input--row">
                <div class="form__input--header">
                  <span class="form__input--label">Email Address</span>
                  <span class="form__input--error hidden"
                    >This field is required</span
                  >
                </div>
                <input
                  class="form__input"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="e.g. stephenking@lorem.com"
                  required
                />
              </label>

              <label for="number" class="form__input--row">
                <div class="form__input--header">
                  <span class="form__input--label">Phone Number</span>
                  <span class="form__input--error hidden"
                    >This field is required</span
                  >
                </div>
                <input
                  class="form__input"
                  type="tel"
                  name="number"
                  id="number"
                  placeholder="e.g. + 1 234 567 890"
                  required
                />
              </label>
            </div>
          </div>

          <!-- Second Form -->
          <!-- TODO: fix plan text -->
          <div class="form hidden">
            <!-- form header -->
            <div class="form__header">
              <h2 class="form__text--title">Select your plan</h2>
              <p class="form__text--subtitle">
                You have the option of monthly or yearly billing.
              </p>
            </div>

            <div class="form__body form__body--column">
              <!-- Arcade -->
              <div class="plan__container plan__container--active">
                <!-- Icon -->
                <img
                  class="plan__icon"
                  src="<%= require('./assets/icon-arcade.svg') %>"
                  alt="Arcade Icon"
                />
                <!-- Text -->
                <div class="plan__text">
                  <p class="plan__text--title">Arcade</p>
                  <p class="plan__text--price" id="arcadePrice"></p>
                  <p class="plan__text--free plan__text--small hidden">
                    2 months free
                  </p>
                </div>
              </div>

              <!-- Advanced -->
              <div class="plan__container">
                <!-- Icon -->
                <img
                  class="plan__icon"
                  src="<%= require('./assets/icon-advanced.svg') %>"
                  alt="Arcade Icon"
                />
                <!-- Text -->
                <div class="plan__text">
                  <p class="plan__text--title">Advanced</p>
                  <p class="plan__text--price" id="advancedPrice"></p>
                  <p class="plan__text--free hidden">2 months free</p>
                </div>
              </div>

              <!-- Pro -->
              <div class="plan__container">
                <!-- Icon -->
                <img
                  class="plan__icon"
                  src="<%= require('./assets/icon-pro.svg') %>"
                  alt="Arcade Icon"
                />
                <!-- Text -->
                <div class="plan__text">
                  <p class="plan__text--title">Pro</p>
                  <p class="plan__text--price" id="proPrice"></p>
                  <p class="plan__text--free hidden">2 months free</p>
                </div>
              </div>
            </div>

            <div class="form__footer">
              <div class="plan__bar">
                <p class="result__price--gray" id="footerMonthly">Monthly</p>
                <!-- On and Off button here -->
                <div class="plan__switch">
                  <div class="plan__switch--dot"></div>
                </div>
                <p id="footerYearly">Yearly</p>
              </div>
            </div>
          </div>

          <!-- Third Form -->
          <div class="form hidden">
            <!-- form header -->
            <div class="form__header">
              <h2 class="form__text--title">Pick add-ons</h2>
              <p class="form__text--subtitle">
                Add-ons help enhance your gaming experience
              </p>
            </div>

            <div class="form__body">
              <!-- Online Service -->
              <div class="addon__container">
                <input
                  class="addon__checkbox"
                  type="checkbox"
                  name="checkbox"
                  id="checkbox"
                  checked
                />
                <div class="addon__text">
                  <p class="addon__text--head">Online service</p>
                  <p class="addon__text--sub">Access to multiplayer games</p>
                </div>

                <p class="addon__text--price" id="priceOnline"></p>
              </div>

              <!-- Larger Storage -->
              <div class="addon__container">
                <input
                  class="addon__checkbox"
                  type="checkbox"
                  name="checkbox"
                  id="checkbox"
                  checked
                />
                <div class="addon__text">
                  <p class="addon__text--head">Larger Storage</p>
                  <p class="addon__text--sub">Extra 1TVB of cloud save</p>
                </div>

                <p class="addon__text--price" id="priceStorage"></p>
              </div>

              <!-- Customizable Profile -->
              <div class="addon__container">
                <input
                  class="addon__checkbox"
                  type="checkbox"
                  name="checkbox"
                  id="checkbox"
                />
                <div class="addon__text">
                  <p class="addon__text--head">Customizable Profile</p>
                  <p class="addon__text--sub">Custom theme on your profile</p>
                </div>

                <p class="addon__text--price" id="priceProfile"></p>
              </div>
            </div>
          </div>

          <!-- Fourth Form -->
          <div class="form hidden">
            <!-- form header -->
            <div class="form__header">
              <h2 class="form__text--title">Finishing Up</h2>
              <p class="form__text--subtitle">
                Double-check everything looks OK before confirming.
              </p>
            </div>

            <div class="form__body">
              <!-- Primary -->
              <div class="result__container">
                <div class="result__container--sub">
                  <div class="result__text">
                    <p class="result__text--plan" id="resultPlan"></p>
                    <button class="result__text--change">Change</button>
                  </div>

                  <p class="result__price" id="resultPrice">$9/mo</p>
                </div>
                <hr />
                <div class="result__container--main"></div>
                <!-- <div class="result__container--sub">
                  <div class="result__text">
                    <p class="result__text--addon">Online service</p>
                  </div>

                  <p class="result__price result__price--sub">+$1/mo</p>
                </div>

                <div class="result__container--sub">
                  <div class="result__text">
                    <p class="result__text--addon">Larger storage</p>
                  </div>

                  <p class="result__price result__price--sub">+$2/mo</p>
                </div>

                <div class="result__container--sub">
                  <div class="result__text">
                    <p class="result__text--addon">Customizable Profile</p>
                  </div>

                  <p class="result__price result__price--sub">+$2/mo</p>
                </div> -->
              </div>
            </div>

            <div class="result__footer">
              <div class="result__container--sub">
                <div class="result__text">
                  <p class="result__text--total">Total (per month)</p>
                </div>

                <p class="result__price--final" id="priceTotal">+$12/mo</p>
              </div>
            </div>
          </div>

          <!-- Fifth Form -->
          <div class="form form__final hidden">
            <div class="form__body">
              <div class="final__container">
                <img
                  class="final__icon"
                  src="<%= require('./assets/icon-thank-you.svg') %>"
                  alt="Arcade Icon"
                />
                <h2 class="form__text--title">Thank you!</h2>
                <p class="final__text--body">
                  Thanks for confirming your subscription! We hope you have fun
                  using our platform. If you ever need support, please feel free
                  to email us @support @loremgaming.com
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Next Step / Back Step buttons -->
        <div class="form__navigation">
          <p class="form__button--back">Go back</p>
          <div class="form__button form__button--next">Next Step</div>
        </div>
      </div>
    </div>
  </body>
</html>
